@charset "utf-8";
/*   CSS Document   */
/* -*- DATA:CSS -*- */

/*
  Created with WinEdt
  http://www.winedt.com
*/

html{overflow-y: scroll;}

body{
    margin:0;
    padding:5px 0px 0px 0px;
    color: #000000;
    background:rgb(239, 239, 239);
    font-family: "Segoe UI", sans-serif;
    font-size: 12pt;
    font-weight:normal;
    text-align:justify;
}

#wrap{
    margin:0 auto;
    padding:0;
    width:900px;
}

#main{
    margin: 3px 0px 0px 0px;
    padding:0px 32px 8px 32px;
    float:left;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgb(204, 204, 204);
    width:834px;
}

#top{
    margin:0;
    padding:0;
    height: 103px;
    background: #E0E1E2;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight:normal;
}

.logo{
    font-size:50px;
    font-weight:normal;
    display: inline-block;
    margin-top: 0px;
    width: 900px;
}

.logo_main_text{
    font-size:50.5px;
    font-weight:normal;
    display: inline-block;
    color:#606468;
    margin-top: 1px;
}

.logo_text{
    font-size:50.5px;
    font-weight:normal;
    display: inline-block;
    margin-top: 1px;
    color:#606468;
    opacity: 0.95;
}

.logo_img{
    height: 73px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right: 13px;
}

.created {
    margin:0;
    padding:0;
    padding-top: 53px;
    color:#808488;
    font-size:13px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    float:right;
    outline: none;
    opacity: 0.9;
}

.winedt {
    margin:0;
    margin-top:0px;
    padding:0;
    padding-left: 5px;
    padding-right: 12px;
    color:#606468;
    font-size:14px;
    text-decoration: none;
    float:right;
    outline: none;
}

.top_nav{
    margin:0;
    padding:0;
    padding-left:0px;
    font-family: Arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    opacity: 0.90;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background:#000000;!28323B;
    height: 27px;
    width: 900px;
    text-align:right;
    white-space:nowrap;
}

.tab0 {
    margin:0;
    color:#EEEEEE;
    text-decoration: none;
    float:left;
    outline: none;
    line-height:28px;
}

.tab0 a{
    margin:0;
    padding:5.5px 12px 6px 12px;
    color:#BBBBBB;
    text-decoration: none;
    outline: none;
}

.tab0 a:hover{
    margin:0;
    text-decoration: none;
    background:#303438;
    outline: none;
}

.tab1 {
    margin:0;
    padding:0;
    text-decoration: none;
    float:left;
    outline: none;
    opacity: 1.0;
    line-height:28px;
}

.tab1 a{
    margin:0;
    padding:5.5px 12px 6px 12px;
    color:#FFFFFF;
    !font-weight:bold;
    text-decoration: none;
    background:#28323B;
    outline: none;
}

.tab1 a:hover{
    margin:0;
    text-decoration: none;
    background:#48525B;
    outline: none;
}

.tab2 {
    margin:0;
    padding:0;
    text-decoration: none;
    float:right;
    outline: none;
    line-height:28px;
}

.tab2 a{
    margin:0;
    padding:5.5px 12px 6px 12px;
    color:#AAAAAA;
    text-decoration: none;
    outline: none;
}

.tab2 a:hover{
    margin:0;
    text-decoration: none;
    background:#303438;
    outline: none;
}

#footer{
    margin:0;
    padding:8px 8px 8px 8px;
    font-size: 90%;
    text-align: center;
    opacity: 0.99;
}

.hk  {color: #007788; font-weight: normal;}
.opt {color: #006040;}
.cmd {color: #003388;}
.red {color: #FA0000;}
.arg {color: #002080; font-family: "Courier New", monospaced;
      font-size: 12.0pt;}
.mcr {color: #202280; font-family: "Courier New", monospaced;
      font-size: 12.0pt; font-weight: bold;}
.sec {color: #7000DF; font-family: "Courier New", monospaced;
      font-size: 12.0pt; font-weight: bold;}

PRE {font-family: "Courier New", monospaced; color: rgb(0, 40, 100);
     font-size: 11pt; font-weight: normal; background-color: #F2F2F2;}
TT  {font-family: "Courier New", monospaced; color: rgb(0, 30, 120);
     font-size: 12.0pt; font-weight: normal;}
CODE{font-family: "Courier New", monospaced; color: rgb(0, 60, 120);
     font-size: 12.0pt; font-weight: normal;}

.new{
    color: #8000FF;
}

.size{
    text-align: right;
    padding-right: 8px;
}

.dl{
    text-align: center;
    padding-right: 8px;
}

.date{
    text-align: left;
    padding-right: 8px;
}
.update{
    text-align: left;
    padding-right: 8px;
    font-weight: bold;
}

table{
    border: 1px solid rgb(180, 180, 180);
    !padding: 0px 0px 0px 0px;
    font-size: 11.5pt;
}

td{
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 2px 4px 8px;
}

th{
    border-width: 1;
    border-style: solid;
    text-align: left;
    padding: 4px 2px 4px 8px;
    border-color: #FFFFFF;
    background-color: #C0C0C0;
}
